<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <!--<% include ../partials/header %>-->
</header>

<main>

    <div class="all">
      <img src="assets/donald-duck-title.png"/>
      <div class="info">
        <h1><%= result.header %></h1>
      </div>

      <div class="jumbotron">
          <p id="america"><%= result.body %></p>
          <img src="assets/Immigration.png" width="200px"/>
          <p><%= result.bodyImmigration %>&nbsp;&nbsp;<span class="tag" id="immigration"><%= result.tagImmigration %></span></p>
          <img id="undefinedapprehendedimg" src="assets/Apprehended.png" width="200px"/>
          <p id="undefinedapprehended"><%= result.bodyApprehended %>&nbsp;&nbsp;<span class="tag" id="apprehended"><%= result.tagApprehended %></span></p>
          <img id="undefinedgdpimg" src="assets/GDP.png" width="200px"/>
          <p id="undefinedgdp"><%= result.bodyGdp %>&nbsp;&nbsp;<span class="tag" id="gdp"><%= result.tagGdp %></span></p>
          <a href="/">Return Home</a>
      </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
